name: Playwright Tests
on:
  
  schedule: 
    - cron: '0 0 * * 0'  # Runs at 00:00 every Sunday
  workflow_dispatch:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    strategy:
      matrix:
        spec: [GoogleSearch.spec.js, takeScreenshot.spec.js, FlakyTest.spec.js]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    # - name: Run Playwright tests
    #   run: npx playwright test GoogleSearch.spec.js --project=chromium --reporter=html
    - name: Run Playwright test for ${{ matrix.spec }}
      run: npx playwright test ${{ matrix.spec }} --reporter=html
    - name: Upload Playwright report
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 2
